@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.btn{
    margin: .2rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5rem;
    color: #fff;
    background: #111b;
    font-size: 1.2rem;
    cursor: pointer;
}

/* messages after register and forgot */
.container .successful-message{
    text-align: center;
}

.successful-message i{
    font-size: 2.5rem;
    padding: 1rem;
}

.successful-message h1{
    margin-bottom: .5rem;
}

.successful-message p{
    font-size: 1.2rem;
    font-weight: 400;
    padding: .5rem;
    color: #eee;
    border-radius: .5rem;
}

