<div class="container">
    <form *ngIf="!successful" [formGroup]="forgotForm" (ngSubmit)="submitForgotPassword()" autocomplete="off">
        <div class="header">
            <h1>Forgot Password</h1>
            <p>You can reset your password here</p>
        </div>
        <mat-form-field class="form-group">
            <input matInput type="email" placeholder="Enter email address" formControlName="email">
            <mat-error *ngIf="email?.errors?.required && email?.touched">
                <span>Email field is required</span>
            </mat-error>
            <mat-error *ngIf="email?.errors?.email && email?.touched">
                <span>Email has invalid format</span>
            </mat-error>
        </mat-form-field>
        <!-- <button mat-raised-button [disabled]="forgotForm.invalid" [class.valid]="forgotForm.valid" type="submit">Reset password</button> -->
        <button mat-raised-button type="submit">Reset password</button>
    </form>
    <div *ngIf="successful" class="successful-message">
        <div class="icon">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </div>
        <h1>We send you an email</h1>
        <p>Check your email to reset your password</p>
    </div>
</div>

