.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
}

.container form{
    background: #eee;
    padding: 4rem 5rem;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.2);
    border-radius: .5rem;
}

.container form .header{
    margin-bottom: 1.5rem;
}

.container form h1{
    margin-bottom: .5rem;
    color: cornflowerblue;
}

.container form .form-group{
    width: 100%;
    margin-bottom: 1rem;
}

.container form input{
    width: 100%;
    font-size: 1.2rem;
}

.container form button{
    width: 100%;
    margin-top: 1rem;
    padding: .5rem;
    font-size: 1.2rem;
    transition: all .3s linear;
    background: #111c;
    color: #fff;
}

.container form button:hover{
    background: cornflowerblue;
}




