<div *ngIf="answer">
    <!-- <div> -->
    <a class="answer">
        <div class="answer-info">
            <div *ngIf="!isEdit" class="content">
                {{answer.content}}
            </div>
            <div *ngIf="isEdit" class="edit">
                <form #editForm="ngForm" (ngSubmit)="editAnswer()">
                    <input 
                        type="text"
                        name="newAnswer" 
                        #answerInput 
                        placeholder="Enter the answer" 
                        [(ngModel)]="newAnswer"
                        required 
                    >
                    <button type="submit">Edit</button>
                </form>
            </div>
            <div class="content">
                {{answer.count}}
            </div>
        </div>
        <div class="buttons">
            <button (click)="invertEdit()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button (click)="openDialog()"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
    </a>
</div>
