@page "/ResetPassword"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <style>

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: cornflowerblue;
        }

        .container form{
            background: #eee;
            padding: 3rem;
            width: 500px;
            border-radius: .5rem;
            box-shadow: 0 1rem 1.5rem rgba(0,0,0,.2);
        }

        .container form h1{
            margin-bottom: 2rem;
            color: #111c;
        }

        .container form .form-group{
            margin-bottom: 1rem;
        }

        form .form-group input{
            width: 100%;
            padding: .5rem;
            font-size: 1.2rem;
        }

        .container form button{
            width: 100%;
            background: #111b;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 600;
            padding: .5rem;
            border-radius: 2rem;
            margin-top: 1.5rem;
            transition: all .3s linear;
            border: none;
            cursor: pointer;
        }

        .container form button:hover{
            background: cornflowerblue;
        }
    </style>
</head>
<body>
    <div class="container">

        <form action='/api/account/reset-password' method="post">

            <h1>Reset Password</h1>

            <input class="box" type="hidden" name="Token" value="@Request.Query["Token"]">
            <input class="box" type="hidden" name="Email" value="@Request.Query["Email"]">

            <div class="form-group">
                <input class="box" type="password" name="NewPassword" placeholder="New Password" required>
            </div>
            <div class="form-group">
                <input class="box" type="password" name="ConfirmPassword" placeholder="Confirm Password" required>
            </div>
        
            <button type="submit">RESET</button>
    
        </form>
    </div>
</body>
</html>