@page "/ResetPassword"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form action='/api/account/reset-password' method="post">

        <input type="hidden" name="Token" value="@Request.Query["Token"]">
        <input type="hidden" name="Email" value="@Request.Query["Email"]">

        <div class="form-group">
            <input type="password" name="NewPassword" placeholder="New Password" required>
        </div>
        <div class="form-group">
            <input type="password" name="ConfirmPassword" placeholder="Confirm Password" required>
        </div>
        <div class="form-group">
            <button type="submit">Reset</button>
        </div>

    </form>
</body>
</html>