<div class="container">
    <h1>ERROR TESTING</h1>
    <div class="button-container">
        <button (click)="getBadRequest()">Bad Request</button>
        <button (click)="getBadRequestObject()">Bad Request Object</button>
        <button (click)="getNotFound()">Not Found</button>
        <button (click)="getNotFoundObject()">Not Found Object</button>
        <button (click)="getUnauthorize()">Unauthorize</button>
        <button (click)="getUnauthorizeObject()">Unauthorize object</button>
        <button (click)="getServerError()">Server error</button>
    </div>
</div>

