<div class="container">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput [(ngModel)]="data.content" placeholder="{{data.label}}" autocomplete="off">
        </mat-form-field>
        <button class="btn-username" mat-button (click)="addUsername(data.content)"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
        <div mat-dialog-content class="usernsames-container" *ngIf="usernames.length > 0">
            <div class="username-boxes" *ngFor="let username of usernames">
                <app-generic-box [model]="{content: username}" (onDelete)="deleteUsernameBox($event)"></app-generic-box>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="usernames" cdkFocusInitial>Share</button>
        <button mat-button [mat-dialog-close]>Cancel</button>
    </div>
</div>

