
.question-info{
    display: flex;
    justify-content: space-between;
    background: #eee;
    padding: 2rem;
    align-items: center;
    
}

.question-info .content{
    font-size: 1.5rem;
    font-weight: 600;
    
}

.question-info .content span{
    font-size: 1rem;
    color: rgb(52, 114, 231);
    font-weight: 500;
}

.question-info .username span{
    color: cornflowerblue;
    font-weight: 600;
}

.question-info .open-question{
    font-weight: 600;
}

.container .answer-header{
    text-align: center;
    padding: .5rem 2rem;
    border-bottom: 3px solid black;
}

.answer-header span{
    font-size: 1.2rem;
    font-weight: 600;
}

.answers-info .answer-button{
    text-align: center;
    margin-top: 1rem;
}

.answers-info .answer-button .btn{
    background: cornflowerblue;
    font-size: 1rem;
}

.forbidden{
    cursor:no-drop;
}

.open{
    color: rgb(52, 114, 231);
}

.closed{
    color: #1117;
}