<div class="container">
        <div class="title">
            <h2>Asked Questions</h2>
            <button class="btn">Add new question</button>
        </div>
        <div class="question-header">
            <span>User</span>
            <span>Question</span>
            <span>Status</span>
        </div>
        <div class="questions-content">
            <div class="question-container" *ngFor="let question of questions">
                <app-question-box [question]="question"></app-question-box>
            </div>
        </div>
</div>
