<div class="container">
    <form [formGroup]="createForm" (ngSubmit)="createForm.valid && addAnswer(createForm.controls.answer.value)" >
        <div class="form-group">
            <input class="box" type="text" placeholder="The question" formControlName="question">
        </div>
        <div class="form-group">
            <input class="box box-answer" type="text" placeholder="Posible answer" formControlName="answer">
        </div>
        <div class="form-group">
            <button type="submit" class="btn">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>Answer</span>    
            </button>
        </div>
    </form> 
    <div class="answers-container" *ngIf="answers.length > 0">
        <div class="separator">Answers added</div>
        <div class="answer-container" *ngFor="let answer of answers">
            <app-answer-create-box [answer]="answer" (onDeleted)="deleteAnswerBox($event)"></app-answer-create-box>
        </div>
        <div class="button-container">
            <button class="btn" (click)="createQuestion()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>Question</span> 
            </button>
        </div>
    </div>
</div>



