<div class="container">
    <div class="image">
        <img src="./assets/questions.jpg" alt="">
    </div>
    <div class="content">
        <h2>Pregunta lo que deseas y obten resultados de tus preguntas</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae ea eum provident eligendi harum quaerat necessitatibus est unde doloremque, nam expedita error, assumenda tempora tenetur deleniti exercitationem.</p>
        <button class="btn">Start now</button>
    </div>
</div>
