<div *ngIf="question">
    <a class="question" routerLink="{{question.id}}">
        <div class="username">
            {{question.creatorUsername | titlecase}}
        </div>
        <div class="content">
            {{question.content}}
        </div>
        <div [ngClass]="(question.openQuestion ? 'open' : 'closed')" class="status">
            <div (click)="$event.stopPropagation()" (click)="toggleStatus()" *ngIf="type === 'asked'">
                <mat-slide-toggle color="primary" [ngModel]= "question.openQuestion">
                    {{question.openQuestion? 'open': 'closed'}}
                </mat-slide-toggle>
            </div>
            <div *ngIf="type==='received'">
                {{question.openQuestion? 'open': 'closed'}}
            </div>
        </div>
    </a>
</div>
